@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	vertical-align: baseline;
    box-sizing: border-box;
}
h3 {
    margin-top: 2em;
    margin-bottom: 2em;
    color: rgb(255, 255, 255);
}
input[type="date"]{
    background-color: #fcecf2;
    padding: 15px;
    color: rgb(46, 46, 46);
    font-size: 24px;    
    border: none;
    outline: none;
    border-radius: 0.8em;
}
::-webkit-calendar-picker-indicator{
    background-color: #fcecf2;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
body {
    margin: 0; 
    font-family: 'Poppins', sans-serif;
    background-image: url(./background-2.jpg) ;
    background-size: cover ; 
    background-repeat: no-repeat;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 100vh;
}

h1 {
    margin-top: 10vh;
    font-size: 2rem;
    margin-bottom: 6vh;
    font-weight: 400;
}

.divs-container {
    display: flex ; 
    font-weight: 400;
    justify-content: center;
    min-height: 50vh;
    /* align-items: center ; */
    flex-wrap: wrap ;
}

.big-text {
    font-size: 5em; 
    font-weight: bold;
}
.days-container, .hours-container, .minutes-container, .seconds-container {
    display: flex ; 
    flex-direction: column ; 
    align-items: center;
    width: 10em ; 
    height: 6em ;
    justify-content: space-evenly;
}
